{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "html", "bash", "git"],
        "plugins": ["show-language", "normalize-whitespace"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
